/*
 * Copyright (C) 2008-2017, Daniele Orlandi
 *
 * Author:: Daniele Orlandi <daniele@orlandi.com>
 *
 * License:: You can redistribute it and/or modify it under the terms of the LICENSE file.
 *
 */

Ext.define('Extgui.Ygg.Cc.Flight.ObjectPanel', {
  extend: 'Extgui.object.panel.Base',
  requires: [
    'Extgui.Ygg.Cc.Plugin',
    'Extgui.Ygg.Cc.Flight',
    'Extgui.Ygg.Cc.Pilot.ReferenceField',
    'Extgui.Ygg.Cc.Aircraft.ReferenceField',
//    'Extgui.Ygg.Cc.AircraftType.Configuration.ReferenceField',
  ],
  extguiObject: 'Extgui.Ygg.Cc.Flight',

//  tabTitleTpl: '{local}@{domain.name}',
//  panelTitleTpl: '<h1><span class="name">Cc Flight</span><span class="value">{local}@{domain.name}</span></h1>',

  requestDeletionButton: true,

  tabs: {
    title: i18n('extgui.cc.flight.object_panel.object_tab'),
    padding: 10,
    layout: 'anchor',
    items: [
     {
      xtype: 'cc_pilot',
      name: 'pilot_id',
     },
     {
      xtype: 'cc_aircraft',
      name: 'aircraft_id',
     },
//     {
//      xtype: 'cc_aircraft_type_configuration',
//      name: 'aircraft_type_configuration_id',
//     },
     {
      xtype: 'datetimefield',
      name: 'takeoff_time',
      fieldLabel: 'Takeoff Time',
     },
     {
      xtype: 'datetimefield',
      name: 'landing_time',
      fieldLabel: 'Landing Time',
     },
     {
      xtype: 'checkboxfield',
      name: 'private',
     },
     {
      xtype: 'displayfield',
      name: 'logger_date',
     },
     {
      xtype: 'textfield',
      name: 'passenger_name',
     },
     {
      xtype: 'displayfield',
      name: 'igc_fr_serial',
     },
     {
      xtype: 'displayfield',
      name: 'igc_fr_fotd',
     },
     {
      xtype: 'displayfield',
      name: 'igc_fr_manuf',
     },
     {
      xtype: 'textarea',
      name: 'notes_public',
      anchor: '100%',
      height: 150,
     },
     {
      xtype: 'textarea',
      name: 'notes_private',
      anchor: '100%',
      height: 150,
     },
    ],
  },

  nav: [
//   {
//    text: 'Agreement',
//    dataIndex: 'agreement',
//   },
//   {
//    text: 'Domain',
//    dataIndex: 'domain',
//   },
  ],

  actions: [
  ],

//  initComponent: function() {
//    var me = this;
//
//    me.callParent(arguments);
//  },
});
